<footer class="page-footer font-small pt-4 mt-3">
    <div class="container">
    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
        <h5 class="mb-1">Keep Watching The News</h5>
        </li>
    </ul>
    </div>
    <div class="footer-copyright text-center py-3">
    © 2021 Copyright: Collo Koech
    </div>
</footer>