<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('Index') }}">News Today</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('Index') }}">Aljazeera <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('bbc') }}">ABC News Au</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('fox') }}">Fox News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('nbc') }}">NBC</a>
          </li>
      </ul>
    </div>
  </nav>