<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News-Api</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navbar block  -->
    {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock %}
    <hr>
<div class="container mt-5">
    <div class="d-flex justify-content-center flex-wrap mb-5">
        {%for new,des,i,url,publAt in context %}
    <div class="card m-3 p-3 shadow">
        <img src="{{i}}" class="img-fluid myimages">
        <h3>News:</h3> {{new}}
        <h4>Description:</h4> {{des}}
        <h4>Published At:</h4>{{publAt}}
        <div class="text-center">
                <a href="{{url}}" type="button" class="btn btn-outline-primary" target="_blank">See More</a>
        </div>
    </div> 
    {% endfor %}
    </div> 
</div>
<!-- Footer block  -->
{% block footer %} 
{% include 'footer.html' %} 
{% endblock %}

</body>
</html>